.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.875000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.007324;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.007878px;}
._1{width:13.008000px;}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(255,248,243);}
.fc1{color:rgb(55,65,81);}
.fc0{color:rgb(37,37,37);}
.fs4{font-size:48.000000px;}
.fs6{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.fs2{font-size:72.000000px;}
.fs5{font-size:96.000000px;}
.fs7{font-size:120.000000px;}
.fs3{font-size:140.000000px;}
.fs0{font-size:280.000000px;}
.y0{bottom:0.000000px;}
.y3b{bottom:49.925667px;}
.y2c{bottom:50.096694px;}
.y1e{bottom:53.044189px;}
.y2e{bottom:55.646843px;}
.y3a{bottom:64.325668px;}
.y1d{bottom:67.444191px;}
.y2d{bottom:72.446846px;}
.y30{bottom:72.833705px;}
.y39{bottom:78.725670px;}
.y2f{bottom:87.233706px;}
.y1f{bottom:91.019756px;}
.y20{bottom:92.269454px;}
.y38{bottom:93.125671px;}
.yd{bottom:107.051727px;}
.y3{bottom:107.461407px;}
.y37{bottom:107.525673px;}
.y1a{bottom:118.073975px;}
.y27{bottom:118.351180px;}
.y29{bottom:126.568092px;}
.y36{bottom:128.453995px;}
.y19{bottom:132.473976px;}
.yc{bottom:139.451729px;}
.y28{bottom:143.368095px;}
.y2b{bottom:143.754970px;}
.yb{bottom:153.851730px;}
.y1b{bottom:156.049526px;}
.y2{bottom:156.567879px;}
.y1c{bottom:157.299224px;}
.y2a{bottom:158.154971px;}
.ya{bottom:168.251732px;}
.y16{bottom:183.103699px;}
.y22{bottom:189.272445px;}
.y9{bottom:194.651733px;}
.y15{bottom:197.503700px;}
.y24{bottom:198.189360px;}
.y8{bottom:209.051735px;}
.y23{bottom:213.089359px;}
.y26{bottom:214.676219px;}
.y18{bottom:215.679687px;}
.y17{bottom:221.079281px;}
.y7{bottom:223.451736px;}
.y1{bottom:223.767883px;}
.y25{bottom:229.076221px;}
.y35{bottom:232.872292px;}
.y34{bottom:247.272293px;}
.y6{bottom:249.851738px;}
.y21{bottom:254.979908px;}
.y14{bottom:254.980381px;}
.y33{bottom:261.672295px;}
.y5{bottom:285.509750px;}
.y32{bottom:290.820862px;}
.y13{bottom:302.121819px;}
.y10{bottom:313.805358px;}
.y11{bottom:317.745005px;}
.y31{bottom:326.820862px;}
.y12{bottom:328.632124px;}
.yf{bottom:332.106536px;}
.ye{bottom:350.409694px;}
.y4{bottom:371.782833px;}
.h9{height:32.784000px;}
.h5{height:36.468750px;}
.h6{height:36.726562px;}
.h8{height:38.248000px;}
.h2{height:43.712000px;}
.h3{height:49.176000px;}
.h7{height:65.568000px;}
.ha{height:81.960000px;}
.h4{height:95.620000px;}
.h1{height:191.240000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xf{left:61.664719px;}
.x1{left:63.358261px;}
.x8{left:69.659454px;}
.x7{left:97.877953px;}
.x6{left:143.232300px;}
.x9{left:165.548889px;}
.xa{left:167.637726px;}
.xd{left:403.025604px;}
.xb{left:437.251770px;}
.x2{left:461.057037px;}
.xc{left:468.456696px;}
.xe{left:484.389771px;}
.x3{left:506.272583px;}
.x5{left:511.141739px;}
.x4{left:567.272591px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.677171pt;}
._1{width:17.344000pt;}
.fs4{font-size:64.000000pt;}
.fs6{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.fs2{font-size:96.000000pt;}
.fs5{font-size:128.000000pt;}
.fs7{font-size:160.000000pt;}
.fs3{font-size:186.666667pt;}
.fs0{font-size:373.333333pt;}
.y0{bottom:0.000000pt;}
.y3b{bottom:66.567556pt;}
.y2c{bottom:66.795592pt;}
.y1e{bottom:70.725586pt;}
.y2e{bottom:74.195791pt;}
.y3a{bottom:85.767558pt;}
.y1d{bottom:89.925588pt;}
.y2d{bottom:96.595795pt;}
.y30{bottom:97.111607pt;}
.y39{bottom:104.967560pt;}
.y2f{bottom:116.311609pt;}
.y1f{bottom:121.359675pt;}
.y20{bottom:123.025939pt;}
.y38{bottom:124.167562pt;}
.yd{bottom:142.735636pt;}
.y3{bottom:143.281876pt;}
.y37{bottom:143.367564pt;}
.y1a{bottom:157.431966pt;}
.y27{bottom:157.801573pt;}
.y29{bottom:168.757456pt;}
.y36{bottom:171.271993pt;}
.y19{bottom:176.631968pt;}
.yc{bottom:185.935638pt;}
.y28{bottom:191.157461pt;}
.y2b{bottom:191.673293pt;}
.yb{bottom:205.135640pt;}
.y1b{bottom:208.066035pt;}
.y2{bottom:208.757172pt;}
.y1c{bottom:209.732299pt;}
.y2a{bottom:210.873295pt;}
.ya{bottom:224.335642pt;}
.y16{bottom:244.138265pt;}
.y22{bottom:252.363260pt;}
.y9{bottom:259.535645pt;}
.y15{bottom:263.338267pt;}
.y24{bottom:264.252480pt;}
.y8{bottom:278.735647pt;}
.y23{bottom:284.119146pt;}
.y26{bottom:286.234959pt;}
.y18{bottom:287.572915pt;}
.y17{bottom:294.772374pt;}
.y7{bottom:297.935649pt;}
.y1{bottom:298.357178pt;}
.y25{bottom:305.434961pt;}
.y35{bottom:310.496389pt;}
.y34{bottom:329.696391pt;}
.y6{bottom:333.135651pt;}
.y21{bottom:339.973211pt;}
.y14{bottom:339.973841pt;}
.y33{bottom:348.896393pt;}
.y5{bottom:380.679667pt;}
.y32{bottom:387.761149pt;}
.y13{bottom:402.829091pt;}
.y10{bottom:418.407144pt;}
.y11{bottom:423.660006pt;}
.y31{bottom:435.761149pt;}
.y12{bottom:438.176165pt;}
.yf{bottom:442.808715pt;}
.ye{bottom:467.212925pt;}
.y4{bottom:495.710444pt;}
.h9{height:43.712000pt;}
.h5{height:48.625000pt;}
.h6{height:48.968750pt;}
.h8{height:50.997333pt;}
.h2{height:58.282667pt;}
.h3{height:65.568000pt;}
.h7{height:87.424000pt;}
.ha{height:109.280000pt;}
.h4{height:127.493333pt;}
.h1{height:254.986667pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xf{left:82.219625pt;}
.x1{left:84.477681pt;}
.x8{left:92.879272pt;}
.x7{left:130.503937pt;}
.x6{left:190.976400pt;}
.x9{left:220.731852pt;}
.xa{left:223.516968pt;}
.xd{left:537.367472pt;}
.xb{left:583.002360pt;}
.x2{left:614.742716pt;}
.xc{left:624.608927pt;}
.xe{left:645.853027pt;}
.x3{left:675.030111pt;}
.x5{left:681.522319pt;}
.x4{left:756.363454pt;}
}
